<svg
  version="1.1"
  xmlns="http://www.w3.org/2000/svg"
  width="512"
  height="512"
  viewBox="0 0 512 512"
>
  <title>Feed Icon</title>
  <path
    d="M464 0h-416c-26.4 0-48 21.6-48 48v416c0 26.4 21.6 48 48 48h416c26.4 0 48-21.6 48-48v-416c0-26.4-21.6-48-48-48zM139.5 415.6c-24 0-43.5-19.3-43.5-43.3 0-23.8 19.5-43.4 43.5-43.4 24.1 0 43.5 19.6 43.5 43.4 0 24-19.5 43.3-43.5 43.3zM248.7 416c0-40.9-15.9-79.4-44.7-108.2-28.9-28.9-67.2-44.8-108-44.8v-62.6c118.8 0 215.6 96.7 215.6 215.6h-62.9zM359.8 416c0-145.5-118.3-264-263.7-264v-62.6c180 0 326.5 146.6 326.5 326.6h-62.8z"
  ></path>
</svg>
<style>
  svg {
    height: 24px;
    width: 24px;
    fill: #fff;
  }
  :global(.light) svg {
    fill: #252525;
  }
</style>
