.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.navigation > a {
  text-decoration: none;
  color: #bbb;
}

.navigation > a:hover {
  color: #fff;
}
.navigation > .active {
  text-decoration: underline;
  color: #ffffff;
}
