---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import ProjectPreview from "../components/ProjectPreview.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
const projects = [
  {
    title: "Bookclub",
    description:
      "An online platform where readers from all walks of life can gather to share their thoughts, engage in discussions ",
    year: "2021",
    sourceURL: "https://github.com/JrFelix540/bookclub",
    demoURL: "https://bookclub-web.vercel.app/",
  },
  {
    title: "Portfolio Website",
    description: "This is what you're looking at :)",
    year: "2023",
    sourceURL: "https://github.com/JrFelix540/juniorfelix.com",
  },
];

const title = `${SITE_TITLE} | Projects`;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main class="container">
      {projects.map((project) => <ProjectPreview {...project} />)}
    </main>
    <Footer />
    <style>
      .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        padding: 40px 0;
      }
      @media (max-width: 769px) {
        .container {
          grid-template-columns: 1fr;
        }
      }
    </style>
  </body>
</html>
