---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import ProjectPreview from "../components/ProjectPreview.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";

const projects = [
  {
    title: "Bookclub Frontend",
    description:
      "A community/discussion-first approach to discussing books that allows connects readers ",
    year: "2021",
    sourceURL: "https://github.com/JrFelix540/bookclub-web",
  },
  {
    title: "Bookclub Backend API",
    description:
      "A community/discussion-first approach to discussing books that allows connects readers ",
    year: "2021",
    sourceURL: "https://github.com/JrFelix540/book-club-server",
  },
  {
    title: "Portfolio Website",
    description: "This is what you're looking at :)",
    year: "2023",
    sourceURL: "https://github.com/JrFelix540/juniorfelix.com",
  },
];
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main class="container">
      {projects.map((project) => <ProjectPreview {...project} />)}
    </main>
    <style>
      .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        padding: 40px 0;
      }
    </style>
  </body>
</html>
