---
import "../styles/header.css";
import HeaderLink from "./HeaderLink.astro";
import ThemeIcon from "./ThemeIcon.astro";
---

<header class="header">
  <nav class="navigation">
    <HeaderLink href="/">Home</HeaderLink>
    <HeaderLink href="/blog">Blog</HeaderLink>
    <HeaderLink href="/projects">Projects</HeaderLink>
    <HeaderLink href="https://github.com/JrFelix540" target="_blank">
      GitHub
    </HeaderLink>
  </nav>
  <ThemeIcon />
</header>
