---
---

<div>
  <slot />
</div>
<style is:global>
  p {
    color: #e6e6e6;
    margin-bottom: 24px;
    line-height: 28px;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 28px;
    margin-bottom: 28px;
    font-weight: 800;
    color: #e6e6e6;
  }
  .light p {
    color: #2c2c2c;
  }
  .light h1 {
    color: #2c2c2c;
  }
  .light h2 {
    color: #2c2c2c;
  }
  .light h3 {
    color: #2c2c2c;
  }
  li {
    color: #e6e6e6;
  }
  .light li {
    color: #2c2c2c;
  }
</style>
