<div id="utterances-container"></div>
<script>
  const script = document.createElement("script");
  const container = document.querySelector("#utterances-container");

  Object.entries({
    src: "https://utteranc.es/client.js",
    repo: "jrfelix540/juniorfelix.com",
    "issue-term": "pathname",
    label: "post comments",
    theme: "github-dark",
    crossorigin: "anonymous",
  }).forEach(([key, value]) => {
    script.setAttribute(key, value);
  });
  container?.appendChild(script);
</script>
